<template>
      <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <slot/><!-- Es para cargar los componentes -->
            </div>
        </div>
      </section>
</template>